.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .splash-text {
    margin: 5% 0;
    font-family: cursive;
    font-size: 4vw;
    color: var(--color-primary);
  }
  .text-area {
    margin-top: 5%;
    width: 80%;
    height: 10vh;
    font-family: monospace;
    font-size: 1.2em;
  }
}
